<center>
    <h1>Générer une chaîne de sacres</h1>
    <p>
        <%= form_with url: swear_chain_path, method: :post do |f| %>
            <div>
                <span class='largeFont'>Longueur minimale: <%= f.select :min_length, ((1..11).map {|i| [i,i]}), selected: @min_length %></span>
            </div>
            <div>
                <span class='largeFont'>Longueur maximale: <%= f.select :max_length, ((1..11).map {|i| [i,i]}), selected: @max_length %></span>
            </div>
            <div>
                <span class='largeFont'>Permettre les variants: <%= f.check_box :accept_variants, { checked: @accept_variants }, "true", "false" %></span>
            </div>
            <div>
                <span class='largeFont'>Lecture audio: <%= f.check_box :audio_enabled, { checked: @audio_enabled }, "true", "false" %></span>
            </div>
            <% if @swear_chain %>
            <div style="padding:10px">
                <div>
                    <span class='hugeFontRed'><%= @swear_chain %></span>
                </div>
                <% if @audio_enabled %>
                    <div>
                        <audio
                            controls
                            src="data:audio/mp3;base64,<%= @audio64 %>">
                        </audio>
                    </div>
                <% end %>
                </div>
            <% end %>
            <div style="padding:10px">
                <span class='largeFont'>
                    <%= f.submit "Vas-y!", class: "btn btn-primary" %>
                </span>
            </div>
        <% end %>
    </p>
</center>
