<center>
    <h1>Générer une chaîne de sacres</h1>
    <p>
        <%= form_with url: swear_chain_path, method: :post do |f| %>
            <div>
                <span class='largeFont'>Longueur minimale: <%= f.select :min_length, ((1..11).map {|i| [i,i]}), selected: @min_length %></span>
            </div>
            <div>
                <span class='largeFont'>Longueur maximale: <%= f.select :max_length, ((1..11).map {|i| [i,i]}), selected: @max_length %></span>
            </div>
            <div>
                <span class='largeFont'>Permettre les variants: <%= f.check_box :accept_variants, { checked: @accept_variants }, "true", "false" %></span>
            </div>
            <% if @swear_chain %>
                <div>
                    <span class='hugeFontRed'><%= @swear_chain %></span>
                </div>
                <div>
                    <embed src="https://translate.google.com/translate_tts?tl=fr&ie=UTF-8&client=tw-ob&q=#{@swear_chain}" width:500px; height: 300px;>
                    <a href="https://translate.google.com/translate_tts?tl=fr&ie=UTF-8&client=tw-ob&q=tabarnak">read it </a>
                </div>
            <% end %>
            <div>
                <span class='largeFont'><%= f.submit "Vas-y!", class: "btn btn-primary" %></span>
            </div>
        <% end %>
    </p>
</center>
